@model SuperMarket.Core.DTOs.ForgotPasswordViewModel
@{
    ViewData["Title"] = "بازیابی کلمه عبور";
}


<div id="container">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="/"><i class="fa fa-home"></i></a></li>
                <li class="breadcrumb-item active" aria-current="page">بازیابی کلمه عبور</li>
            </ul>
        </nav>

        <div class="row">
            <!--Middle Part Start-->
            <div id="content" class="col-sm-9">

                @if (ViewBag.IsSuccess != null)
                {
                    <div class="alert alert-success">
                        <p class="help-block">ایمیل بازیابی کلمه عبور برای شما ارسال شد.</p>
                    </div>
                }
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="alert alert-danger">
                        شما به این قسمت دسترسی ندارید!
                    </div>
                }
                <h1 class="title">بازیابی کلمه عبور</h1>
                <form asp-action="ForgotPassword" method="post">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input asp-for="Email" type="email" name="email" value="" placeholder="ایمیل" id="input-email" class="form-control" />
                                <span asp-validation-for="Email"></span>
                            </div>
                          
                            <input type="submit" value="ارسال" class="btn btn-success" />
                        </div>
                    </div>
                </form>
            </div>
            <!--Middle Part End -->
        </div>
    </div>
</div>
