
@{
    ViewData["Title"] = "درباره ما";
}

<div id="container">
    <div class="container">
        <!-- Breadcrumb Start-->
        <ul class="breadcrumb">
            <li><a href="/"><i class="fa fa-home"></i></a></li>
            <li><a href="/AboutUs">درباره ما</a></li>
        </ul>
        <div class="row">    
            <div class="col-sm-3">
                <i class="fa fa-user"></i>
                <strong>برنامه نویس</strong><br />
                حامد محمودی برنامه نویس BackEnd
                <br /><br />
                <i class="fa fa-phone"></i>
                <strong>شماره تماس</strong><br>
                09368686685<br>
                <br>
                <i class="fa fa-envelope"></i>
                <strong>ایمیل</strong><br>
                hamedmahmoodi.42@gmail.com
            </div>
        </div>
    </div>
</div>

