@model SuperMarket.Core.DTOs.ChangePasswordViewModel
@{
    ViewData["Title"] = "تغییر کلمه عبور";
}

<div id="container">
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/"><i class="fa fa-home"></i></a></li>
            <li class="breadcrumb-item active" aria-current="page"> تغییر کلمه عبور </li>
        </ul>
    </nav>
</div>

<main>
    <div class="container">
        <div class="user-account">
            <div class="row">
                <partial name="_SideBar" />
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <section class="user-account-content">
                        <header><h1 class="title">تغییر کلمه عبور</h1></header>
                        <div class="inner form-layer">
                            <form asp-action="ChangePassword" method="post" class="form-horizontal">
                                @if (ViewBag.IsSuccess != null)
                                {
                                    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                                    <script>
                                        Swal.fire({
                                            position: 'top-end',
                                            icon: 'success',
                                            title: 'تغییر رمز عبور با موفقیت انجام شد',
                                            showConfirmButton: false,
                                            timer: 3000
                                        })
                                    </script>
                                }
                                <fieldset id="account">
                                    <div class="form-group">
                                        <div class="col-sm-10">
                                            <label><i class="far fa-key"></i>کلمه عبور فعلی </label>
                                            <input id="password" asp-for="OldPassword" type="password" class="form-control">
                                            <span id="togglePassword" class="far fa-fw fa-eye field-icon"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-10">
                                            <label><i class="far fa-key"></i>کلمه عبور جدید </label>
                                            <input id="password2" asp-for="Password" type="password" class="form-control">
                                            <span id="togglePassword2" class="far fa-fw fa-eye field-icon"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-10">
                                            <label><i class="far fa-key"></i>تکرار کلمه عبور جدید </label>
                                            <input id="password3" asp-for="RePassword" type="password" class="form-control">
                                            <span id="togglePassword3" class="far fa-fw fa-eye field-icon"></span>
                                        </div>
                                    </div>
                                </fieldset>
                                <div asp-validation-summary="All" class="text-danger">
                                </div>
                                <div class="buttons">
                                    <div class="pull-right">
                                        <input type="submit" class="btn btn-success" value="ثبت تغییرات">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</main>


@section Scripts
    {
    <script>

        var togglePassword = document.querySelector('#togglePassword');
        var password = document.querySelector('#password');
        togglePassword.addEventListener('click', function (e) {
            var type = password.getAttribute('type') === 'password' ? 'text' : 'password';
            password.setAttribute('type', type);
            this.classList.toggle('fa-eye-slash');
        });

        var togglePassword2 = document.querySelector('#togglePassword2');
        var password2 = document.querySelector('#password2');
        togglePassword2.addEventListener('click', function (e) {
            var type = password2.getAttribute('type') === 'password' ? 'text' : 'password';
            password2.setAttribute('type', type);
            this.classList.toggle('fa-eye-slash');
        });

        var togglePassword3 = document.querySelector('#togglePassword3');
        var password3 = document.querySelector('#password3');
        togglePassword3.addEventListener('click', function (e) {
            var type = password3.getAttribute('type') === 'password' ? 'text' : 'password';
            password3.setAttribute('type', type);
            this.classList.toggle('fa-eye-slash');
        });

    </script>
}
